
/* Reset */ 
body, html{background: #222; color:#999; font-family: 'Raleway', Arial, Helvetica, sans-serif; line-height: 1; font-size: 16px; box-sizing: border-box;margin: 0;padding: 0;}*,*:before,*:after{ box-sizing: border-box; }h1,h2,h3,h4,h5,h6, p, ol, ul{margin: 0 0 1rem 0;padding: 0;}ol,ul{padding-left: 20px;line-height: 1.5;}img{height: auto;}h1{font-size: 4rem;} h2{font-size: 3rem;} h3{font-size: 2rem;} h4{font-size: 1rem;} h5{font-size: 0.8rem;} h6{font-size: 0.6rem;}a{text-decoration:none}
body{padding: 20%;line-height: 1.5;}
a{color:#eee}


* {cursor:none}
.outline {
width: 64px;
height: 64px;
mix-blend-mode: difference;
border-radius: 100%;
border: 1px solid #fff;
transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
position: fixed;
pointer-events: none;
left: 0px;
top: 0px;
z-index: 999999;
transform: translate( -64px, -64px );
border: 1px solid #fff;
}

.cursor {
width: 8px;
height: 8px;
border-radius: 100%;
background: #fff;
opacity: .8;
position: fixed;
left: 0px;
top: 0px;
pointer-events: none;
z-index: 999999;
transform: translate( 50vw, -100px );
}

.outline.hover{    
  width: 128px;
  height: 128px;
  background-color: #ff375f;
  border-color: #ff375f;
}
.outline.hover::after{
content: '';
position: absolute;
left: 0%;
top: 0%;
width: 100%;
height: 100%;
background-image: url('https://alien.haldenvgs.net/images/cursor.svg');
background-repeat: no-repeat;
background-position: center;
}

.cursor.hover{
opacity: 0;
}

@media (max-width: 768px) {

.cursor,
.outline{display: none;}

}

/* Nav hamburger */

#nav-hamburger {
margin: 0;
width: 2em;
height: 1.5em;
position: absolute;
transform: rotate(0deg);
transition: .35s cubic-bezier(.175,.685,.32,1.175);
z-index: 110;
top:10%;
left:10%;
z-index: 999999;
}
#nav-hamburger span {
left: 0;
width: 100%;
height: 2px;
display: block;
position: absolute;
background: #fff;
border-radius: 19px;
opacity: 1;
transform: rotate(0deg);
transition: .35s cubic-bezier(.175,.685,.32,1.175);
}
#nav-hamburger span:nth-child(1) {
top: 0;
width: 100%;
}
#nav-hamburger span:nth-child(2),
#nav-hamburger span:nth-child(3) {
top: 10px;
width: 35%;
}
#nav-hamburger span:nth-child(4) {
top: 20px;
width: 65%;
}

/* open */
.open #nav-hamburger{
transform: rotate(180deg);
}
.open #nav-hamburger span:nth-child(1) {
top: 2em;
width: 0;
}
.open #nav-hamburger span:nth-child(2) {
width: 100%;
transform: rotate(45deg);
}
.open #nav-hamburger span:nth-child(3) {
width: 100%;
transform: rotate(-45deg);
}
.open #nav-hamburger span:nth-child(4) {
top: 18px;
width: 0;
left: 50%;
}

/* menu */

.menu{ 
background: #000;
position: fixed;
width: 100%;
height: 100%;
top: 0%; 
left:-100%; 
z-index: 999;
padding: 15% 10%;
opacity: 0;
transition: opacity 1s cubic-bezier(.215, .61, .355, 1);
}
.menu a{
display: block;
position: relative;
}
.menu a span{
position: relative;
display: block;
z-index: 2;
font-size: 60px;
text-transform: uppercase;
opacity: 0.3;

}
.menu a img{
position: absolute;
opacity: 0;
z-index: 0;
transform: translate(-50%,-50%) scale(0.5);
transition: all 1s cubic-bezier(.215, .61, .355, 1);
pointer-events: noen;
width: min(40vh, 600px);
}
.menu a:hover span{
opacity: 1;
}
.menu a:hover img{

opacity: 1;
transform: translate(-50%,-50%) scale(1);
transition: all 1s cubic-bezier(.215, .61, .355, 1);
}

.open .menu{
left:0;
opacity: 1;

}  
